<p></p>
<p></p>

<h2>New Task</h2>

<%= simple_form_for(@task) do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.submit %>
<% end %>
<p></p>
<%= link_to "Back to the list", "../tasks" %>
